#adv-search {
    padding: 10px 0 0 0;
}

#adv-search .nlk-dropdown {
    left: -220px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 600px;
        margin: 0 auto;
    }
}

#nlk-search-submit {
  width: 70px;
  padding-left: 5px;
  padding-right: 5px;  
}

#nlk-search-str {
  min-width: 500px;
}

.adv-search-target {
    margin: 20px 0 0 0;
    font-size: smaller;
}
.outer {
    display: table;
    position: absolute;
    height: 500px;
}
.navbar_top{
    height: 5%;
    position: absolute;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
}


.logar{
    margin-top: 14px;
}

.label_p{
    font-size: 1.1rem;
    color: #888;
}



.resposta{
    display: inline-block;
}

.grupo_resultados{
    border: solid 1px;
}

.chip {
    display: inline-block;
    padding: 0 15px;
    height: 30px;
    font-size: 13px;
    line-height: 30px;
    border-radius: 20px;
    background-color: #f1f1f1;
    margin-left: 2%;
    margin-right: 2%;
}

.chip .valor {
    background-color: #ccc;
    float: left;
    margin: 0 10px 0 -25px;
    height: 30px;
    width: 50px;
    border-radius: 40%;
}
.panel-footer{
    border-top: 1px solid #ccc;
}
.swal2-title{
    font-size: 2.5rem;
}
.monBouton{
     background-image : image-url("like.png");
     width: 60px;
}

.btn_swap span{
    border: 1px solid #ccc;
    width: 30px;
}