<div class="row">
  <div class="col-md-1 col-md-offset-11">
    <div class="dropdown">
      <button class="btn btn-primary" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= current_user.login %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dLabel" style="right: 0; left: auto; padding-left: 8px; padding-right: 8px; min-width: 250px;">
        <label for="nome_usuario" class="label_p">Usuário</label>
        <p id="nome_usuario"><%= current_user.nome %></p>
        <a href="!#" data-toggle="modal" data-target=".modal_mensagem">Ajuda</a>
        <%= form_tag("/logout", method: "post", :class => 'logout', :style => "margin-top: 20px;") do %>
          <button type="button" class="btn btn-primary btn-lg btn-block pesos" data-toggle="modal" data-target=".modal_pesos">Pesos de busca</button>
          <button type="submit" class="btn btn-primary btn-lg btn-block sair">Sair</button>
        <% end %>
      </ul>
    </div>
  </div>
</div>