<div class="row">
  <div class="col-md-1 col-md-offset-11">
    <div class="dropdown">
      <button class="btn btn-primary" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Login
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dLabel" style="right: 0; left: auto; padding-left: 8px; padding-right: 8px; min-width: 250px;">
        <%= form_tag("/login", method: "post", :class => 'loga_usuario') do %>
          <div class="form-group">
            <label for="login">Usuário</label>
            <input type="text" class="form-control" id="login" placeholder="Usuário" name="logar[login]">
          </div>
          <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" placeholder="Senha" name="logar[password]">
          </div>
          <a href="#" class="cadastrar" data-toggle="modal" data-target=".modal_cadastro">Cadastre-se</a>
          <button type="submit" class="btn btn-primary btn-lg btn-block logar">ENTRAR</button>
        <% end %>
      </ul>
    </div>
  </div>
</div>